# Ignore Gradle project-specific cache directory
.gradle
.idea
local.properties

# Ignore Gradle build output directory
build
*/build

# Ignore Kotlin plugin data
.kotlin

# Native build and Python artifacts
*.o
C-Chromium/build/
__pycache__/
nq-test-tmp/
